@(message: String)

@main("User Management") {

<ol class="breadcrumb"><li class="active">使用者管理</li></ol>
<div class="user-management">
    <div class="search">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="名字" value="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="">
            </div>
            <div class="form-group">
                <select class="form-control" id="gender" name="gender">
                    <option value=''>全部性別</option>
                    <option value='男'>男</option>
                    <option value='女'>女</option>
                    <option value='隱藏'>隱藏</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary">搜尋</button>
            <a type="reset" class="btn btn-deafult" href='/admin/user'>清除條件</a>
        </form>
    </div>
    <button type="button" class="btn btn-primary" v-on:click="create()">新增使用者</button>

    <div v-show="!find" class="alert alert-warning text-center" style="display:none" >目前尚無資料</div>

    <table v-show="find" class="user-list table table-striped table-hover user-table" style="display:none">
        <thead>
            <tr>
                <td>ID</td>
                <td>名字</td>
                <td>姓式</td>
                <td>Email</td>
                <td>性別</td>
                <td>功能</td>
            </tr>
        </thead>
        <tbody>
            <template v-for="data in list">
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.firstname}}</td>
                    <td>{{data.lastname}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.gender}}</td>
                    <td>
                        <button type="button" class="edit btn btn-primary"  v-on:click="edit(data)">編輯</button>
                        <button type="button" class="btn btn-danger" v-on:click="delConfirm(data)">刪除</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
<!--
    <nav>
        <ul class="pagination">
            <li title="First"><a href=""><span aria-hidden="true">«</span></a></li>
            <li title="Previous"><a href=""><span aria-hidden="true">‹</span></a></li>
            <li class="active"><a href="#">1</a></li><li class=""><a href="">2</a></li><li class=""><a href="">3</a></li>
            <li title="Next"><a href=""><span aria-hidden="true">›</span></a></li>
            <li title="Last"><a href=""><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
-->
    <edit-modal v-bind:create="emcreate" v-bind:id="editdata.id" v-bind:firstname="editdata.firstname" v-bind:lastname="editdata.lastname" v-bind:email="editdata.email" v-bind:gender="editdata.gender" v-ref:editmodal></edit-modal>
    <del-modal v-bind:data="deldata" v-ref:delmodal></del-modal>
</div>

}

<script>


var userManagement = new Vue({
    el: '.user-management',
    data: {
        list : [],
        q : "",
        find : false,
        error : false,
        deldata : {},
        editdata : {},
        emcreate : true
    },
    methods: {
        search: function() {
            var that = this;
            //this.q = $("#q").val();
            //window.history.pushState({}, "q=" + this.q, "/?q=" + this.q);
            this.$http.get("/api/user?q=" + this.q, function(data, status, request){
                that.list = [];
                data.result.forEach(function(element, index, array){
                    that.list.push(element);
                });
                that.find = (that.list.length > 0) ? true : false;
            }).error(function (data, status, request) {
                that.error = true;
            });
        },
        create: function(data) {
            this.emcreate = true;
            this.editdata = data;
            $('#editModal').modal();
        },
        insertUser: function(data) {
            this.list.splice(0, 0, data);
        },
        edit: function(data) {
            this.emcreate = false;
            this.editdata = data;
            $('#editModal').modal();
        },
        updateUser: function(data) {
            var index = this.list.map(function(e) { return e.id; }).indexOf(data.id);
            if (index < 0) return;
            var newdata = {
                id        : data.id,
                firstname : data.firstname,
                lastname  : data.lastname,
                email     : data.email,
                gender    : data.gender
            };
            this.list.splice(index, 1, newdata);
        },
        delConfirm: function(data) {
            this.deldata = data;
            $('#delModal').modal();
        },
        delUser: function(data) {
            this.list.$remove(data)
            this.find = (this.list.length > 0) ? true : false;
        }
    }
});

userManagement.search();
</script>