@(message: String)

@main("User Management") {

<ol class="breadcrumb"><li class="active">使用者管理</li></ol>
<div class="user-management">
    <div class="search">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="名字" value="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="">
            </div>
            <div class="form-group">
                <select class="form-control" id="gender" name="gender">
                    <option value=''>全部性別</option>
                    <option value='男'>男</option>
                    <option value='女'>女</option>
                    <option value='隱藏'>隱藏</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary">搜尋</button>
            <a type="reset" class="btn btn-deafult" href='/admin/user'>清除條件</a>
        </form>
    </div>
    <button type="button" class="btn btn-primary">新增使用者</button>

    <div v-show="!find" class="alert alert-warning text-center" style="display:none" >目前尚無資料</div>

    <table v-show="find" class="user-list table table-striped table-hover user-table" style="display:none">
        <thead>
            <tr>
                <td>ID</td>
                <td>名字</td>
                <td>姓式</td>
                <td>Email</td>
                <td>性別</td>
                <td>功能</td>
            </tr>
        </thead>
        <tbody>
            <template v-for="data in list">
                <tr>
                    <td>{{data._id.$oid}}</td>
                    <td>{{data.firstname}}</td>
                    <td>{{data.lastname}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.gender}}</td>
                    <td>
                        <button type="button" class="edit btn btn-primary"  v-on:click="edit(data)">編輯</button>
                        <button type="button" class="btn btn-danger" v-on:click="delete(data)">刪除</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
<!--
    <nav>
        <ul class="pagination">
            <li title="First"><a href=""><span aria-hidden="true">«</span></a></li>
            <li title="Previous"><a href=""><span aria-hidden="true">‹</span></a></li>
            <li class="active"><a href="#">1</a></li><li class=""><a href="">2</a></li><li class=""><a href="">3</a></li>
            <li title="Next"><a href=""><span aria-hidden="true">›</span></a></li>
            <li title="Last"><a href=""><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
-->
</div>
<div id="delModal" class="confirm-delete modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    刪除確認
                </h4>
            </div>
            <div class="modal-body">
                請問是否刪除此筆資料?
                <div class='text-danger' id='delModalData'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn_confirm_del">刪除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
}

<script>
var userManagement = new Vue({
    el: '.user-management',
    data: {
        list: [],
        q: "",
        find: false,
        error: false,
        deleteModal: false
    },
    methods: {
        search: function() {
            var that = this;
            //this.q = $("#q").val();
            //window.history.pushState({}, "q=" + this.q, "/?q=" + this.q);
            this.$http.get("/api/user?q=" + this.q, function(data, status, request){
                that.list = [];
                data.result.forEach(function(element, index, array){
                    that.list.push(element);
                });
                that.find = (that.list.length > 0) ? true : false;
            }).error(function (data, status, request) {
                that.error = true;
            });
        },
        delete: function(data) {
            var id = data._id.$oid;
            if (!id) return;
            var that = this;
            var delModal = $('#delModal');
            delModal.find('#delModalData').html(data.firstname + " " + data.lastname + " (" + data.email +")");
            delModal.find('#btn_confirm_del').unbind();
            delModal.find('#btn_confirm_del').bind('click', function() {
                that.$http.delete("/api/user/" + id, function (response, status, request) {
                    that.list.$remove(data)
                    delModal.modal('hide');
                    that.find = (that.list.length > 0) ? true : false;
                }).error(function (response, status, request) {
                    console.log(response);
                    delModal.modal('hide');
                });
            });
            delModal.modal();

        },
        edit: function(data) {
            console.log(data);
        },
    }
});

userManagement.search();
</script>